body {
    background-color: #EAF6F6;
}
hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
h1 {
    color: #144361;
}
h3 {
    color:   #66BFBF;
}
body {
    color: default;
}
body {
    font-size: default;
    font-style: default;
}
img {
    background-color: red;
    width: 200px;
    height: 200px;
}
.circular{
    border-radius: 100%;
}